<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book Register</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
	<div align="center">
		<h1>Books Save</h1>
		<form action="#" th:action="@{/newbook}" th:object="${book}" method="post">
		
			<label>Book Name : </label> 
			<input type="text" th:field="*{bookName}" /><br>
			<label>Book Author : </label> 
			<input type="text" th:field="*{bookAuthor}" /><br>
			<label>Book Price : </label> 
			<input type="text" th:field="*{bookPrice}" /><br>
			<button type="submit">Add Book</button>
		</form>
		<a class="btn btn-sm" href="/getbook" role="button">ViewBook</a>
	</div>
</body>
</html>